<p>Add a new Definition:</p>

<form action="/definitions" method="post">
  <label for="definition">Definition</label>
  <input id="definition" name="definition" type="text">

  <button type="submit" class="btn btn-default">Add definition</button>
</form>
