<h1>definitions!</h1>

#if ($definitions)
  <ul>
    #foreach ($definition in $definitions)
      <li><a href="/definitions/$definition.getId()">$definition.getDefinition()</a></li>
    #end
  </ul>
#else
  <p>No definitions!</p>
#end

<a href="/definitions/new">Add New Definition</a>
